.diff {
  box-sizing: border-box;
}

.diff-column-width {
  width: 41ch;
  max-width: 41ch;
}

.diff-header, .line-no-header {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  margin-bottom: -1px;
  background-color: #f7f7f7;
  padding: 2px;
  height: 1.11em;
}

.diff-line-no > div {
  text-align: right;
}

.diff-line-no {
  color: #999;
  background-color: #f7f7f7;
  border-right: 1px solid #ddd;
  display: table;
}

.diff-line-no .line-no:first-child {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
  margin-bottom: -1px;
  border-right: 1px solid #f7f7f7;
  margin-right: -1px;
}

.diff-line-no, .diff-wrapper {
  display: inline-block;
}

.diff-wrapper {
  overflow-x: auto;
  overflow-y: hidden;  /* shouldn't happen, but we sometimes get a pixel. */
}

.diff-content {
  display: table;
}

.line-no, .code {
  padding: 2px;
  height: 1.11em;
  white-space: pre;
}

.diff {
  display: table;
  white-space: nowrap;
}

.line-no, .code {
  font-family: monospace;
}

.diff-wrapper, .diff-wrapper > div {
  display: inline-block;
  vertical-align: top;
}

.diff .delete {
  background-color: #fcc;
}
.diff .insert {
  background-color: #cfc;
}

.diff-left-content .replace {
  background-color: #fee;
}
.diff-right-content .replace {
  background-color: #efe;
}

.diff-left-content .char-replace, .diff-left-content .char-delete {
  background-color: #fcc;
}

.diff-right-content .char-replace, .diff-right-content .char-insert {
  background-color: #cfc;
}
